<li>
	{{burger_name}}
	<button class="change-status" data-id="{{id}}" data-newstate="{{devour}}">
		{{#if devour}}Devour!{{else}}THROW UP!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">X</button>
</li>
